{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}
	 
<div class="container d-flex justify-content-center">
<div class="flex-grow-1 w">
	<div class="border rounded-lg bg-light p-2 mb-2">	
		<h3 class="text-monospace text-center">Make An Email List</h3>
	</div>
	2nd step (1 / 2) <hr>
	<form action="" method="POST" class="mb-2">
		{% csrf_token %}
		{{ temp_form|crispy }}

		<button type="submit" class="btn btn-primary mb-2" style="width: 100%">Add</button> <br>
		<a href="{% url 'delete-email-list' %}" class="btn btn-warning">Don't Save, Go Back!</a>
		<a href="{% url 'save-email-list' %}" class="btn btn-success">Save List</a> 
	</form>

	{% for i in temp_email_list %}
		<hr>
		{{ i }}
	{% endfor %}

</div>
</div>

{% endblock %}