{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}
	 
<div class="container d-flex justify-content-center">
<div class="flex-grow-1 w">
	<div class="border text-monospace text-center rounded-lg bg-light p-2 mb-2">
	Edit Email Item	
	</div>
	<form action="" method="POST" class="mb-2">
		{% csrf_token %}
		{{ temp_form.tempEmailList|as_crispy_field }}
		<a type="submit" class="btn btn-secondary" href="{% url 'edit-email-list' eid %}">Back</a>
		<button type="submit" class="btn btn-success"> Save Changes</button>
	</form>
</div>
</div>

{% endblock %}