<style type="text/css">
    .ww{
        max-width: 750px;
        padding: 10px
    }
</style>
{% extends 'main.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container d-flex justify-content-center">
<div class="flex-grow-1 rounded-lg shadow-lg ww">	
	<div class="d-block bg-light text-dark text-monospace text-center border rounded-lg p-2">
		<h4>Default Email Settings</h4>
  	</div>	
	{% for message in messages %}
		<p>{{message}}</p>
	{% endfor %}

	<div class="row">
		<div class="col pt-2 ">
			<div class="border rounded-lg text-center text-monospace  bg-light p-1 mb-2">	
				<h5>Add Email To List</h5>
			</div>
    		<form method="POST" action="">
				{% csrf_token %}
				{{ form.userEmail|as_crispy_field }}
				{{ form.userPassword|as_crispy_field }}
				<button type="submit" class="btn btn-success">Add Email To List</button>
			</form>			
		</div>
		<div class="col-sm-7 pt-2">
			<div class="border rounded-lg text-center text-monospace bg-light p-1 mb-3">	
				<h5>Email List</h5>
			</div>
	    	{% for email_from in email_from_list %}
				{% if email_from.isDefault == True %}			
				<div class="btn-group bg-danger rounded-lg shadow-lg mb-2" align="center" style="width: 100%">
					<a href="{% url 'unset-default' email_from.id %}" class="btn btn-danger text-left rounded-lg border border-danger" style="width: 95%">
						<h5>{{ email_from }}</h5>
						<font size=1.8rem>tap to unset - Default From</font>
					</a>
					<a href="{% url 'edit-email' email_from.id %}" class="btn btn-danger rounded-lg border border-danger">
						<svg class="bi bi-three-dots-vertical" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
						</svg>
					</a>
				</div>	
				{% else %}
				<div class="btn-group bg-light rounded-lg shadow-lg border mb-2" align="center" style="width: 100%">
					<a href="{% url 'default-email' email_from.id %}" class="btn btn-light text-left rounded-lg" style="width: 95%">
						<h5>{{ email_from }}</h5>
						<font size=1.8rem>tap to set - Default From</font>
					</a>
					<a href="{% url 'edit-email' email_from.id %}" class="btn btn-light rounded-lg">
						<svg class="bi bi-three-dots-vertical" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
						</svg>
					</a>
				</div>					
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<hr>
	<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
</div>
</div>
{% endblock %}