{% extends 'main.html' %}

{% block content %}
	
<div class="container d-flex justify-content-center">
<div class="flex-grow-1 w">
	<div class="card card-body">
		FROM:
		{% for i in email_from_list %}
			{%if i.isDefault == True %}
				<h4>{{i.userEmail}}</h4>
			{% endif %}
		{% endfor %}

		<hr>
		TO:
		{% for e in email_list %}
			{% if e.selectedEmailList == True %}
				<h4>{{e}}</h4>
			{% endif %}
		{% endfor %}

		<hr>
		SUBJECT: {{email_draft}}
		<hr>
		MESSAGE: {{email_draft.emailDraftMessage}}
		<br>
		<br>
		<br>
		<form action="" method="POST">
 		 	{% csrf_token %}
			<a href="{% url 'home' %}" class="btn btn-secondary">Back!</a>
			{% if email_list %}
				<button type="submit" class="btn btn-info">Send Email ✈</button>
			{% endif %}
		</form>
	</div>
</div>
</div>
{% endblock %}