{% extends 'main.html' %}

{% block content %}
	
<div class="container d-flex justify-content-center">
<div class="flex-grow-1 w">
	<div class="card card-body">		
		TO:

		{% if not email_list %}
			<h6>-You need to create An Email To List in order to send Email </h5>
		{% endif %}

		{% for e in email_list %}
			{% if e.selectedEmailList == True %}
				<br><br> <h4>{{e}}</h4>
			{% endif %}
		{% endfor %}

		<hr>
		<strong>{{email_draft}}</strong>
		<hr>
		{{email_draft.emailDraftMessage}}
		<hr>
		<form action="" method="POST">
 		 	{% csrf_token %}
			<a href="{% url 'home' %}" class="btn btn-secondary">Back!</a>
			{% if email_list %}
				<button type="submit" class="btn btn-info">Send Email ✈</button>
			{% endif %}
		</form>
	</div>
</div>
</div>
{% endblock %}